.btn-group {
    border-radius: 0 !important;
}

.list-group-item {
    border: none !important;

    &:hover {
        color: $primary;
    }
}

.list-group {
    border: none;
    border-radius: 0 !important;

    @media (min-width: 992px) {
        &:first-of-type {
            border-right: var(--mo-list-group-border-width) solid var(--mo-list-group-border-color);
        }

        &:nth-last-of-type(2) {
            border: var(--mo-list-group-border-width) solid var(--mo-list-group-border-color);
            border-top: none;
        }
    }
}

.carousel-caption {
    background-color: white;
    opacity: 0.7;
}

.animated-button {
    display: block;
    animation: breathing 2s linear infinite normal;
}
