section > .box,
section > aside.list-group {
    border-bottom: 1px solid lightgrey;
}

.btn-group {
    border-radius: 0 !important;
}

.list-group {
    border: none;
    border-radius: 0 !important;

    &-item {
        border: none !important;

        &:hover {
            color: $primary;
        }
    }

    @media (min-width: 992px) {
        &:first-of-type {
            border-right: var(--mo-list-group-border-width) solid var(--mo-list-group-border-color);
        }

        &:nth-last-of-type(2) {
            border: var(--mo-list-group-border-width) solid var(--mo-list-group-border-color);
            border-top: none;
        }
    }
}

#pc_article_content {
    max-height: 640px;
    overflow: hidden;
}

.carousel-inner {
    border-radius: 1%;
    max-width: calc(640px * 1.5);
    max-height: calc(426px * 1.5);
    margin: 0 auto;
}

.carousel-caption {
    border-radius: 1%;
    background-color: white;
    opacity: 0.7;
}

.animated-button {
    display: block;
    animation: shaking 3s linear infinite normal;
}
