.navbar {
    border-bottom: 1px solid lightgray;
}

.input-group:has(.form-control) {
    background: white;
}
.form-control,
.form-control:focus {
    background: transparent;
}

.primary-hover:hover {
    color: $primary;
}

select,
select:focus {
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right
        transparent;
    background-position: calc(100% - 0.75rem) center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding-right: 2rem;
    padding: 0.5rem;
}

ul:has(a) > li:hover {
    transform: scale(1.1);
}
