.input-group:has(.form-control) {
    background: white;
}
.form-control,
.form-control:focus {
    background: transparent;
}

select,
select:focus {
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right
        transparent !important;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    padding-right: 2rem !important;
    padding: 0.5rem !important;
}

ul:has(a) > li:hover {
    transform: scale(1.1);
}
